@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --bg-main: hsl(233, 47%, 7%);
    --bg-card: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --bg-white: hsl(0, 0%, 100%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --stats: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--bg-main);
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    width: 80%;
    height: 400px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.card__left {
    width: 50%;
    height: 100%;
}

.card__right {
    width: 50%;
    height: 100%;
    background: var(--accent);
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

img {
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 0 10px 10px 0;
}

.image {
    object-fit: cover;
}

.text__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px 50px 50px;
}

.text__wrapper .up {
    width: 100%;
}

.up h1 {
    color: var(--bg-white);
}

.up p {
    color: var(--paragraph);
    margin-top: 20px;
    line-height: 1.5;
    font-size: 15px;
}

.text__wrapper .down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.down h3 {
    color: var(--bg-white);
} 

.down p {
    color: var(--stats);
    font-size: 10px;
    letter-spacing: 1px;
}

span {
    color: var(--accent);
}

@media only screen and (max-width: 992px) {
    .card {
        flex-direction: column;
        height: 90%;
    }

    .card__right {
        order: -1;
        width: 100%;
        border-radius: 10px 10px 0 0;
        max-height: 350px;
    }

    .card__left {
        width: 100%;
    }
    
    .text__wrapper {
        padding: 50px 40px 50px 40px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 12px;
    }

    .down {
        flex-direction: column;
    }

    .stats {
        margin-top: 30px;
    }

    .stats h3 {
        font-size: 20px;
    }

    .stats p {
        margin-top: 5px;
    }
  }
  