@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  background-color: white;
}

.top-img {
  background-image: url(images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  width: 584px;
  height: 362px;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-img {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  width: 1085px;
  height: 673px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 165px;
}

.wrapper .container .first__group {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.wrapper .container .first__group .inner__one {
  width: 445px;
  height: 100%;
}

.wrapper .container .first__group .inner__one h1 {
  font-size: 48px;
  font-weight: 700;
  color: #502050;
  text-align: left;
  letter-spacing: -1.71px;
}

.wrapper .container .first__group .inner__one p {
  font-size: 15px;
  font-weight: 500;
  color: #937b92;
  text-align: left;
  margin-top: 6px;
  line-height: 25px;
  letter-spacing: -0,5px;
}

.wrapper .container .first__group .inner__two {
  width: 540px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0;
}

.wrapper .container .first__group .inner__two .rating__one,
.wrapper .container .first__group .inner__two .rating__two,
.wrapper .container .first__group .inner__two .rating__three {
  width: 445px;
  height: 56px;
  background-color: #f7f2f7;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .first__group .inner__two .rating__one .stars,
.wrapper .container .first__group .inner__two .rating__two .stars,
.wrapper .container .first__group .inner__two .rating__three .stars {
  padding-left: 32px;
}

.wrapper .container .first__group .inner__two .rating__one .stars .star,
.wrapper .container .first__group .inner__two .rating__two .stars .star,
.wrapper .container .first__group .inner__two .rating__three .stars .star {
  padding-right: 8.45px;
}

.wrapper .container .first__group .inner__two .rating__one .stars .star:last-child,
.wrapper .container .first__group .inner__two .rating__two .stars .star:last-child,
.wrapper .container .first__group .inner__two .rating__three .stars .star:last-child {
  padding: 0;
}

.wrapper .container .first__group .inner__two .rating__one h3,
.wrapper .container .first__group .inner__two .rating__two h3,
.wrapper .container .first__group .inner__two .rating__three h3 {
  padding-left: 32px;
  font-size: 13px;
  font-weight: bold;
  color: #502050;
}

.wrapper .container .first__group .inner__two .rating__two {
  margin: 0 auto;
}

.wrapper .container .first__group .inner__two .rating__three {
  margin-left: auto;
}

.wrapper .container .second__group {
  width: 100%;
  height: 266px;
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
}

.wrapper .container .second__group .group__container__two {
  margin: auto 0;
}

.wrapper .container .second__group .group__container__three {
  margin-top: auto;
}

.wrapper .container .second__group .box__one,
.wrapper .container .second__group .box__two,
.wrapper .container .second__group .box__three {
  width: 350px;
  background-color: #502050;
  color: white;
  border-radius: 8px;
  padding: 40px 32px;
}

.wrapper .container .second__group .box__one .profile__box,
.wrapper .container .second__group .box__two .profile__box,
.wrapper .container .second__group .box__three .profile__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .second__group .box__one .profile__box img,
.wrapper .container .second__group .box__two .profile__box img,
.wrapper .container .second__group .box__three .profile__box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.wrapper .container .second__group .box__one .profile__box .profille__details,
.wrapper .container .second__group .box__two .profile__box .profille__details,
.wrapper .container .second__group .box__three .profile__box .profille__details {
  margin-left: 23px;
}

.wrapper .container .second__group .box__one .profile__box .profille__details h3,
.wrapper .container .second__group .box__two .profile__box .profille__details h3,
.wrapper .container .second__group .box__three .profile__box .profille__details h3 {
  font-size: 13px;
  font-weight: 700;
}

.wrapper .container .second__group .box__one .profile__box .profille__details span,
.wrapper .container .second__group .box__two .profile__box .profille__details span,
.wrapper .container .second__group .box__three .profile__box .profille__details span {
  font-size: 13px;
  font-weight: 400;
  color: #ee68a4;
}

.wrapper .container .second__group .box__one p,
.wrapper .container .second__group .box__two p,
.wrapper .container .second__group .box__three p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 26px;
  line-height: 22px;
  letter-spacing: -0.23px;
}
/*# sourceMappingURL=style.css.map */