@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .left {
  padding: 65px 220px 162px 165px;
  background-image: url("images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .left img {
  width: 158px;
  height: 33px;
}

body main .left .main h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 17.32px;
  text-align: left;
  text-transform: uppercase;
  color: #ce9797;
}

body main .left .main h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 71px;
  letter-spacing: 17.32px;
  text-align: left;
  text-transform: uppercase;
  color: #413a3a;
}

body main .left .main p {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #ce9797;
}

body main .left .main form {
  margin-top: 40px;
}

body main .left .main form .form-wrapper {
  position: relative;
}

body main .left .main form .form-wrapper #email {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: 1px solid #ce9797;
  position: absolute;
  background-color: transparent;
  padding-top: 15px;
  padding-left: 32px;
  padding-bottom: 13px;
  opacity: 50%;
}

body main .left .main form .form-wrapper #email::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ce9797;
}

body main .left .main form .form-wrapper #email:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ce9797;
}

body main .left .main form .form-wrapper #email::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ce9797;
}

body main .left .main form .form-wrapper #email::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ce9797;
}

body main .left .main form .form-wrapper #submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.2467);
          box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.2467);
}
/*# sourceMappingURL=style.css.map */