@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  body {
    background: linear-gradient(135deg, white, #fff4f4);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
  }
}

@media screen and (max-width: 375px) {
  body {
    display: block;
  }
}

body main#desktop1 {
  max-width: 1440px;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 375px) {
  body main#desktop1 {
    height: 100%;
    overflow: auto;
  }
}

body main#desktop1 .left {
  width: 100%;
  padding: 64.91px 220px 162px 165px;
  background-image: url("images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff4f4);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FAFAFA;
}

@media screen and (max-width: 1200px) {
  body main#desktop1 .left {
    padding: 64.91px 110px 162px 90px;
  }
}

@media screen and (max-width: 900px) {
  body main#desktop1 .left {
    padding: 64.91px 70px 162px 70px;
  }
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left {
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, white, #fff4f4);
  }
}

body main#desktop1 .left .header img.header-logo {
  width: 100px;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .header {
    padding: 31px 243px 32.11px 32px;
  }
}

body main#desktop1 .left .desktop-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .desktop-hidden {
    display: block;
    width: 100%;
  }
}

body main#desktop1 .left .content {
  margin-top: 136.09px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .content {
    margin: 0;
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 92px;
  }
}

body main#desktop1 .left .content h2 {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 17.32px;
  text-align: left;
  text-transform: uppercase;
  color: #ce9797;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .content h2 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 10.83px;
    text-align: center;
  }
}

body main#desktop1 .left .content h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 71px;
  letter-spacing: 17.32px;
  text-align: left;
  text-transform: uppercase;
  color: #413a3a;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .content h1 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 10.83px;
    text-align: center;
  }
}

body main#desktop1 .left .content p {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #ce9797;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .left .content p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

body main#desktop1 .left .content form {
  margin-top: 40px;
  width: 100%;
}

body main#desktop1 .left .content form .form-contorl {
  position: relative;
}

body main#desktop1 .left .content form .form-contorl .input-email {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: solid 1px #ce9797;
  z-index: 0;
  background: transparent;
  padding: 15px 130px 13px 32px;
}

body main#desktop1 .left .content form .form-contorl .input-email:focus, body main#desktop1 .left .content form .form-contorl .input-email:active {
  outline: none;
}

body main#desktop1 .left .content form .form-contorl .input-email::-webkit-input-placeholder {
  color: #ce9797;
}

body main#desktop1 .left .content form .form-contorl .input-email:-ms-input-placeholder {
  color: #ce9797;
}

body main#desktop1 .left .content form .form-contorl .input-email::-ms-input-placeholder {
  color: #ce9797;
}

body main#desktop1 .left .content form .form-contorl .input-email::placeholder {
  color: #ce9797;
}

body main#desktop1 .left .content form .form-contorl button {
  position: absolute;
  background: linear-gradient(135deg, #f8bfbf, #ee8b8b);
  width: 100px;
  height: 56px;
  top: 0;
  right: 0;
  border: none;
  border-radius: 28px;
  z-index: 1;
  -webkit-box-shadow: 0px 15px 20px #c66e6e;
          box-shadow: 0px 15px 20px #c66e6e;
}

body main#desktop1 .left .content form .form-contorl button:hover {
  cursor: pointer;
  opacity: 50%;
  -webkit-box-shadow: 0px 15px 20px #c66e6e;
          box-shadow: 0px 15px 20px #c66e6e;
}

body main#desktop1 .left .content form .form-contorl .err-icon {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 17px;
  right: 116px;
}

body main#desktop1 .left .content form .err-msg {
  display: none;
}

body main#desktop1 .left .content form .err-msg span {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 4px;
  margin-left: 32px;
  color: #F96464;
}

body main#desktop1 .right {
  width: 100%;
  background-image: url("images/hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  body main#desktop1 .right {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */