// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

// Colors
$dred: hsl(0, 36%, 70%);
$sred: hsl(0, 93%, 68%);
$dgred: hsl(0, 6%, 24%);
$background: #FAFAFA;

// Font size
$light: 300;
$regular: 400;
$sbold: 600;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    @media screen and (max-width: 768px) {
        background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 244, 244, 1));
        align-items: flex-start;
        height: 100vh;
    }

    @media screen and (max-width: 375px) {
        display: block;
    }

    main#desktop1 {
        max-width: 1440px;
        max-height: 800px;
        display: flex;

        @media screen and (max-width: 375px) {
            height: 100%;
            overflow: auto;
        }

        .left {
            width: 100%;
            padding: 64.91px 220px 162px 165px;
            background-image: url("images/bg-pattern-desktop.svg"), linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 244, 244, 1));
            background-position: center;
            background-repeat: no-repeat;
            background-color: #FAFAFA;

            @media screen and (max-width: 1200px) {
                padding: 64.91px 110px 162px 90px;
            }

            @media screen and (max-width: 900px) {
                padding: 64.91px 70px 162px 70px;
            }

            @media screen and (max-width: 768px) {
                padding: 0;
                height: 100vh;
                background: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(255, 244, 244, 1));
            }

            .header {
                img.header-logo {
                    width: 100px;
                }

                @media screen and (max-width: 768px) {
                    padding: 31px 243px 32.11px 32px;
                }

            }

            .desktop-hidden {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                    width: 100%;
                }
            }

            .content {
                margin-top: 136.09px;
                width: 100%;

                @media screen and (max-width: 768px) {
                    margin: 0;
                    padding-top: 64px;
                    padding-left: 32px;
                    padding-right: 32px;
                    padding-bottom: 92px;
                }

                h2 {
                    font-size: 64px;
                    font-weight: $light;
                    line-height: 64px;
                    letter-spacing: 17.32px;
                    text-align: left;
                    text-transform: uppercase;
                    color: $dred;

                    @media screen and (max-width: 768px) {
                        font-size: 40px;
                        line-height: 42px;
                        letter-spacing: 10.83px;
                        text-align: center;
                    }
                }

                h1 {
                    font-size: 64px;
                    font-weight: $sbold;
                    line-height: 71px;
                    letter-spacing: 17.32px;
                    text-align: left;
                    text-transform: uppercase;
                    color: $dgred;

                    @media screen and (max-width: 768px) {
                        font-size: 40px;
                        line-height: 42px;
                        letter-spacing: 10.83px;
                        text-align: center;
                    }
                }

                p {
                    margin-top: 32px;
                    font-size: 16px;
                    font-weight: $regular;
                    line-height: 28px;
                    text-align: left;
                    color: $dred;

                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                    }
                }

                form {
                    margin-top: 40px;
                    width: 100%;

                    .form-contorl {
                        position: relative;

                        .input-email {
                            width: 100%;
                            height: 56px;
                            border-radius: 28px;
                            border: solid 1px $dred;
                            z-index: 0;
                            background: transparent;
                            padding: 15px 130px 13px 32px;

                            &:focus,
                            &:active {
                                outline: none;
                            }

                            &::placeholder {
                                color: $dred;
                            }
                        }

                        button {
                            position: absolute;
                            background: linear-gradient(135deg, rgba(248, 191, 191, 1), rgba(238, 139, 139, 1));
                            width: 100px;
                            height: 56px;
                            top: 0;
                            right: 0;
                            border: none;
                            border-radius: 28px;
                            z-index: 1;
                            box-shadow: 0px 15px 20px rgba(198, 110, 110, 1);

                            &:hover {
                                cursor: pointer;
                                opacity: 50%;
                                box-shadow: 0px 15px 20px rgba(198, 110, 110, 1);
                            }
                        }

                        .err-icon {
                            display: none;
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            right: 0;
                            top: 17px;
                            right: 116px;
                        }
                    }

                    .err-msg {
                        display: none;

                        span {
                            font-size: 13px;
                            font-weight: $regular;
                            line-height: 28px;
                            text-align: left;
                            margin-top: 4px;
                            margin-left: 32px;
                            color: #F96464;
                        }
                    }
                }
            }
        }

        .right {
            width: 100%;
            background-image: url("images/hero-desktop.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

}