@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-d-blue: hsl(216, 12%, 8%);
$bold: 700;
$regular: 400;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: $very-d-blue;
    width: 100vw;
    min-height: 100vh;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: #232A34;
        border-radius: 30px;
        padding: 32px;
        max-width: 412px;
        display: inline-block;

        .star {
            width: 48px;
            height: 48px;
            background-color: $dark-blue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                object-fit: contain;
            }
        }

        h1 {
            margin-top: 30px;
            width: 100%;
            font-size: 28px;
            font-weight: $bold;
            color: $white;
        }

        p {
            width: 100%;
            margin-top: 10px;
            font-size: 15px;
            font-weight: $regular;
            color: $light-gray;
            line-height: 24px;
        }

        .rating {
            width: 100%;
            margin-top: 24px;
            list-style: none;
            display: flex;
            justify-content: space-between;

            &__list {
                width: 51px;
                height: 51px;
                background-color: $dark-blue;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $medium-gray;
                font-size: 16px;
                font-weight: $bold;
                line-height: 24px;

                &:active {
                    background-color: $medium-gray;
                    color: $white;
                }

                &:hover {
                    background-color: $orange;
                    color: $white;
                    cursor: pointer;
                }
            }

            input {
                display: none;
            }

            label {
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $dark-blue;
                color: $medium-gray;
                transition: 0.5s all;

                &:hover {
                    background-color: $orange;
                    color: $white;
                }                    
            }

            .active {
                background-color: $medium-gray;
                color: $white;
            }
        }

        #submit {
            background-color: $orange;
            width: 100%;
            margin-top: 32px;
            padding: 11px 138px;
            border-radius: 22.5px;
            border: none;
            color: $white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: $bold;
            letter-spacing: 2px;
            transition: 0.5s all;
            text-align: center;

            &:hover {
                background-color: $white;
                color: $orange;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0 24px;
        
        #main {
            max-width: 412px;

            .container {
                border-radius: 15px;
                padding: 24px;

                .star {
                    width: 40px;
                    height: 40px;
                    background-color: $dark-blue;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img {
                        object-fit: contain;
                    }
                }

                h1 {
                    margin-top: 16px;
                    width: 100%;
                    font-size: 24px;
                    font-weight: $bold;
                    color: $white;
                    line-height: 22px;
                }

                p {
                    width: 100%;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: $regular;
                    color: $light-gray;
                    line-height: 22px;
                }

                .rating {
                    width: 100%;
                    margin-top: 24px;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;

                    &__list {
                        width: 42px;
                        height: 42px;
                        background-color: $dark-blue;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $medium-gray;

                        &:active {
                            background-color: $medium-gray;
                            color: $white;
                        }

                        &:hover {
                            background-color: $orange;
                            color: $white;
                            cursor: pointer;
                        }
                    }

                    input {
                        display: none;
                    }

                    label {
                        // border: 1px solid yellow;
                        width: 42px;
                        height: 42px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: $dark-blue;
                        color: $medium-gray;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $orange;
                            color: $white;
                        }                    
                    }

                    .active {
                        background-color: $medium-gray;
                        color: $white;
                    }
                }

                #submit {
                    margin-top: 24px;
                    padding: 0;
                    height: 45px;
                    font-size: 14px;
                    letter-spacing: 1.87px;

                    &:hover {
                        background-color: $white;
                        color: $orange;
                    }
                }
            }
        }

        #thank_you {
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: height 0ms 0ms, opacity 1s 0ms;
            .container {
                background-color: #232A34;
                border-radius: 15px;
                padding: 0 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 144px;
                    height: 96px;
                    margin-top: 34px;
                }

                span {
                    margin-top: 24px;
                    padding: 5px 12px;
                    border-radius: 22.5px;
                    background-color: $dark-blue;
                    color: $orange;
                    font-size: 14px;
                    line-height: 22px;
                }

                .text {
                    width: 100%;
                    h1 {
                        margin-top: 24px;
                        text-align: center;
                        color: $white;
                        font-size: 24px;
                        font-weight: $bold;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                        font-weight: $regular;
                        line-height: 22px;
                        text-align: center;
                        margin-bottom: 37px;
                        color: $light-gray;
                    }
                }
            }
        }
    }
}