@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$regular: 400;
$bold: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $light-gray;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main {
        max-width: 39.688rem;
        box-shadow: 0 0.938rem 1.875 0 rgba($color: #0051AB, $alpha: 0.14);

        .upper {
            background-color: white;
            padding: 2.5rem;
            text-align: left;
            border-radius: 0.5rem 0.5rem 0 0;

            h1 {
                color: $cyan;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: -0.019rem;
                margin-bottom: 1.5rem;
            }

            h2 {
                color: $bright-yellow;
                font-size: 1.125rem;
                font-weight: 700;
                letter-spacing: -0.014rem;
                margin-bottom: 0.688rem;
            }

            p {
                color: $grayish-blue;
                font-size: 1rem;
                font-weight: $regular;
                letter-spacing: -0.013rem;
                line-height: 1.625rem;
            }
        }

        .lower {
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $cyan;

            .left {
                padding: 2.5rem;
                width: 50%;
                height: 100%;
                text-align: left;

                h3 {
                    color: white;
                    font-size: 1.125rem;
                    font-weight: $bold;
                    line-height: -0.014rem;
                    margin-bottom: 1.125rem;
                }

                .price {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.25rem;

                    h1 {
                        color: white;
                        font-size: 2rem;
                        font-weight: $bold;
                        line-height: -0.025rem;
                        margin-right: 0.688rem;
                    }

                    span {
                        color: white;
                        font-size: 1rem;
                        font-weight: $regular;
                        line-height: 1.625rem;
                        letter-spacing: -0.013rem;
                        opacity: 50%;
                    }
                }

                p {
                    color: white;
                    font-size: 1rem;
                    font-weight: $regular;
                    line-height: 1.625rem;
                    letter-spacing: -0.013rem;
                    margin-bottom: 1.625rem;
                }

                button {
                    color: white;
                    font-size: 1rem;
                    font-weight: $bold;
                    letter-spacing: -0.013rem;
                    border: none;
                    border-radius: 0.313rem;
                    background-color: $bright-yellow;
                    padding: 0.938rem 5.563rem;
                    box-shadow: 0 0.25rem 0.25rem 0 rgba($color: #000000, $alpha: 0.25);
                }
            }

            .right {
                padding: 2.5rem;
                width: 50%;
                height: 100%;
                text-align: left;
                background-color: rgba($color: #ffffff, $alpha: 0.15);

                h3 {
                    color: white;
                    font-size: 1.125rem;
                    font-weight: $bold;
                    letter-spacing: -0.014rem;
                    margin-bottom: 1.125rem;
                }

                .text-wrapper {
                    p {
                        color: white;
                        font-size: 0.875rem;
                        font-weight: $regular;
                        letter-spacing: -0.011rem;
                        line-height: 1.25rem;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    body {
        width: 100vw;
        height: 100vh;

        .wrapper {

            .main {
                display: flex;
                max-width: 19.438rem;
                flex-direction: column;

                .upper {
                    width: 100%;
                    padding-top: 1.75rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    padding-bottom: 2rem;

                    h1 {
                        font-size: 1.25rem;
                        letter-spacing: -0.016rem;
                    }

                    h2 {
                        font-size: 0.938rem;
                        line-height: 1.25rem;
                        letter-spacing: -0.012rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 0.875rem;
                        letter-spacing: -0.011rem;
                    }
                }

                .lower {
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    .left {
                        width: 100%;
                        padding: 1.5rem;

                        button {
                            width: 100%;
                        }
                    }

                    .right {
                        width: 100%;
                        padding: 1.5;
                    }
                }
            }

            footer {
                max-width: 19.438rem;
                text-align: center;
            }
        }
    }
}