@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

// FONTS
$ebold: 800;
$bold: 700;
$medium: 500;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;

    .header {
        width: 100%;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
            padding: 0 16px;

            @media only screen and (min-width: 600px) {
                margin-top: 24px;
                padding: 0 39px;
            }

            button {
                padding: 9px 24px 11px 24px;
                border-radius: 28px;
                border: none;
                background-color: #13183F;
                color: #fff;
                font-size: 16px;
                font-weight: $bold;
                line-height: 28px;

                &:hover {
                    cursor: pointer;
                    color: #666CA3;
                }
            }

            .navbar__link {
                .navbar__logo {
                    width: 89px;
                    height: 35px;
                }
            }
        }
    }

    .hero {
        width: 100%;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 38px;
            padding: 0 16px;

            @media only screen and (min-width: 600px) {
                flex-direction: column;
                padding: 0 32px;
                margin-top: 60px;
            }

            .hero__info {
                @media only screen and (min-width: 600px) {
                    max-width: 398px;
                }

                h1 {
                    font-size: 40px;
                    font-weight: $ebold;
                    text-align: left;
                    color: #13183F;

                    @media only screen and (min-width: 600px) {
                        margin-top: 60px;
                    }
                }

                p {
                    margin-top: 26px;
                    font-size: 16px;
                    font-weight: $medium;
                    line-height: 26px;
                    text-align: left;
                    color: #83869A;

                    @media only screen and (min-width: 600px) {
                        margin-top: 25px;
                    }
                }

                button {
                    margin-top: 24px;
                    padding: 15px 37px;
                    border-radius: 31.5px;
                    border: none;
                    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
                    color: #fff;
                    font-size: 16px;
                    font-weight: $bold;
                    line-height: 26px;

                    &:hover {
                        cursor: pointer;
                        opacity: 50%;
                    }
                }
            }

            .hero__image {
                object-fit: contain;
                margin-top: 46px;

                @media only screen and (min-width: 600px) {
                    display: none;
                }
            }

            .hero__image__tablet {
                display: none;

                @media only screen and (min-width: 600px) {
                    display: block;
                    width: 640px;
                    height: 640px;
                    position: absolute;
                    right: -297.71px;
                    // top: -200px;
                    top: -92.13px;
                }
            }
        }
    }

    .main {
        width: 100%;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 16px;
            padding-bottom: 80px;
            // background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
            background-color: red;

            @media only screen and (min-width: 600px) {
                margin-top: 34px;
                padding: 0 39px;
                padding-bottom: 86px;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            @media only screen and (min-width: 1150px) {
                padding: 0 165px 140px 165px;
            }

            .card__box {
                @media only screen and (min-width: 600px) {
                    max-width: 340px;
                    margin-top: 40px;
                }

                @media only screen and (min-width: 1150) {
                    max-width: 350px;
                }

                &:first-child {
                    @media only screen and (min-width: 600px) {
                        margin-top: 56px;
                        padding: 56px 32px 139px 32px;
                    }

                    background: linear-gradient(rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
                    padding: 24px 28px 32px 28px;
                    border-radius: 10px;
                    border: none;

                    h2 {
                        font-size: 24px;
                        font-weight: $ebold;
                        line-height: 32px;
                        text-align: left;
                        color: #fff;
                    }
                }

                &:not(:first-child) {
                    @media only screen and (min-width: 600px) {
                        margin-top: 56px;
                    }

                    margin-top: 40px;
                    border-radius: 10px;
                    border: none;
                    background-color: #fff;
                    position: relative;
                    padding: 56px 28px 32px 28px;

                    img {
                        width: 56px;
                        height: 56px;
                        position: absolute;
                        top: -24px;
                        left: 28px;
                    }
                }

                .card__container {
                    &:not(:first-child) {
                        h3 {
                            font-size: 20px;
                            font-weight: $ebold;
                            text-align: left;
                            color: #13183F;
                        }

                        p {
                            margin-top: 16px;
                            font-size: 16px;
                            font-weight: $medium;
                            line-height: 26px;
                            text-align: left;
                            color: #83869A;
                        }

                        a {
                            display: block;
                            margin-top: 24px;
                            font-size: 18px;
                            font-weight: $bold;
                            line-height: 28px;
                            text-align: left;
                            text-decoration: none;
                            color: #F74780;

                            &:hover {
                                cursor: pointer;
                                color: #FFA7C3;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;

        .container {
            padding: 36px 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #13183F;

            @media only screen and (min-width: 600px) {
                padding: 36px 39px;
            }

            img {
                width: 89px;
                height: 35px;
            }

            button {
                border-radius: 28px;
                border: none;
                background: linear-gradient(rgba(72, 81, 255, 1), rgba(240, 42, 166, 1));
                padding: 9px 24px 11px 24px;
                font-size: 16px;
                font-weight: $bold;
                line-height: 28px;
                color: #fff;

                &:hover {
                    cursor: pointer;
                    opacity: 50%;
                }
            }
        }
    }
}