@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: gray;
}

body .header {
  background-color: white;
}

body .header .container {
  width: 1440px;
  height: 100%;
  padding: 24px 165px 87px 165px;
}

body .header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .container .navbar__link .navbar__logo {
  width: 111.17px;
  height: 27.68px;
}

body .header .container .navbar__button {
  background-color: #13183F;
  padding: 14px 32px;
  border-radius: 28px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  z-index: 1;
}

body .header .container .navbar__button:hover {
  cursor: pointer;
  background-color: #666CA3;
}

body .hero {
  background-color: white;
}

body .hero .container {
  width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .hero .container .hero__wrapper {
  width: 50%;
  padding-left: 165px;
  padding-top: 85px;
  padding-bottom: 180px;
}

body .hero .container .hero__wrapper .hero__info {
  max-width: 460px;
}

body .hero .container .hero__wrapper .hero__info h1 {
  font-size: 56px;
  font-weight: 800;
  text-align: left;
}

body .hero .container .hero__wrapper .hero__info p {
  margin-top: 29px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

body .hero .container .hero__wrapper .hero__info button {
  margin-top: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 31.5px;
  border: none;
  padding: 19px 31px 16px 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}

body .hero .container .hero__wrapper .hero__info button:hover {
  cursor: pointer;
  opacity: 0.5;
  outline: none;
}

body .hero .container .hero__image__wrapper {
  width: 50%;
  height: 100%;
}

body .hero .container .hero__image__wrapper .hero__image {
  margin-top: -167px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .main {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f1ff));
  background: linear-gradient(white, #f0f1ff);
}

body .main .container {
  width: 1440px;
  padding: 24px 165px 140px 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .container .card__box {
  width: 350px;
  border-radius: 15px;
  border: none;
  background: #fff;
  margin-bottom: 80px;
}

body .main .container .card__box .card__container {
  padding: 32px 32px 40px 32px;
}

body .main .container .card__box .card__container h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  color: #13183F;
}

body .main .container .card__box .card__container p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
  color: #83869A;
  margin-top: 24px;
}

body .main .container .card__box .card__container a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #F74780;
  display: block;
  margin-top: 24px;
  text-decoration: none;
}

body .main .container .card__box .card__container a:hover {
  cursor: pointer;
  color: #FFA7C3;
}

body .main .container .card__box:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background: linear-gradient(#ff6f48, #f02aa6);
}

body .main .container .card__box:first-child .card__container {
  padding-top: 64px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 138px;
}

body .main .container .card__box:first-child .card__container h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
  color: #fff;
}

body .main .container .card__box img {
  width: 52px;
  height: 52px;
  margin-top: -24px;
  margin-left: 32px;
}

body .footer {
  background-color: #13183F;
}

body .footer .container {
  width: 1440px;
  padding: 32px 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .container button {
  padding: 14px 31px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4851ff), to(#f02aa6));
  background: linear-gradient(#4851ff, #f02aa6);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #fff;
  border: none;
  border-radius: 28px;
}

body .footer .container button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 81, 255, 0.5)), to(rgba(240, 42, 166, 0.5)));
  background: linear-gradient(rgba(72, 81, 255, 0.5), rgba(240, 42, 166, 0.5));
  background-color: #fff;
}

body .footer .container img {
  width: 111.17px;
  height: 27.68px;
}
/*# sourceMappingURL=style.css.map */