@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

body .header .container {
  padding: 48px 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  body .header .container {
    padding: 48px 97px 0 97px;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container {
    margin-top: 80px;
    padding: 0;
    overflow: none;
  }
  body .header .container .header__image__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .header .container .logo {
  width: 118.72px;
}

body .header .container .header__img {
  margin-top: 54px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 600px) {
  body .header .container .header__img {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__img {
    display: none;
  }
}

body .header .container .header__img__tablet {
  margin-top: 64px;
  -o-object-fit: covers;
     object-fit: covers;
}

@media screen and (max-width: 599px) {
  body .header .container .header__img__tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__img__tablet {
    display: none;
  }
}

body .header .container .header__img__dekstop__left,
body .header .container .header__img__dekstop__right {
  display: none;
}

@media screen and (min-width: 1200px) {
  body .header .container .header__img__dekstop__left,
  body .header .container .header__img__dekstop__right {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__img__dekstop__left {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__img__dekstop__right {
    margin-left: 88px;
  }
}

@media screen and (min-width: 600px) {
  body .header .container .header__wrapper {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  body .header .container .header__wrapper {
    max-width: 540px;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__wrapper {
    padding: 0;
    width: 540px;
  }
}

body .header .container .header__wrapper h1 {
  margin-top: 48px;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  color: #28283D;
}

@media screen and (min-width: 600px) {
  body .header .container .header__wrapper h1 {
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1200px) {
  body .header .container .header__wrapper h1 {
    font-size: 64px;
    line-height: 64px;
  }
}

body .header .container .header__wrapper p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #87879D;
}

@media screen and (min-width: 1200px) {
  body .header .container .header__wrapper p {
    margin-top: 34px;
    font-size: 18px;
    line-height: 26px;
  }
}

body .header .container .header__wrapper .button__wrapper {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  body .header .container .header__wrapper .button__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .header .container .header__wrapper .button__wrapper .button_download {
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  background-color: #4D96A9;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
}

@media screen and (min-width: 600px) {
  body .header .container .header__wrapper .button__wrapper .button_download {
    margin-right: 16px;
  }
}

body .header .container .header__wrapper .button__wrapper .button_download:hover {
  cursor: pointer;
  background-color: #71C0D4;
}

body .header .container .header__wrapper .button__wrapper .button_download span {
  margin-left: 4px;
  color: #8FE3F9;
}

body .header .container .header__wrapper .button__wrapper .button_info {
  margin-top: 16px;
  padding: 16px 29px;
  border-radius: 29px;
  border: none;
  background-color: #855FB1;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
}

@media screen and (min-width: 600px) {
  body .header .container .header__wrapper .button__wrapper .button_info {
    margin-top: 0;
  }
}

body .header .container .header__wrapper .button__wrapper .button_info:hover {
  cursor: pointer;
  background-color: #B18BDD;
}

body .divider .container {
  padding: 64px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  body .divider .container {
    padding: 80px 97px 67px 97px;
  }
}

@media screen and (min-width: 1200px) {
  body .divider .container {
    padding: 110px 165px 64px 165px;
  }
}

body .divider .container .divider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .divider .container .divider__wrap .divider__line {
  width: 1px;
  height: 84px;
  display: block;
  background-color: #87879D;
  opacity: 25%;
}

body .divider .container .divider__wrap .divider__circle {
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

body .divider .container .divider__wrap .divider__circle .circle__span {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #87879D;
}

@media screen and (min-width: 1440px) {
  body .main {
    max-width: 1440px;
    margin: 0 auto;
  }
}

body .main .container {
  padding: 0 24px;
}

@media screen and (min-width: 600px) {
  body .main .container {
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  body .main .container {
    padding: 0 165px;
  }
}

body .main .container .img__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  body .main .container .img__wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

body .main .container .img__wrap img {
  margin-top: 24px;
  width: 45%;
  height: auto;
  border-radius: 8px;
  border: none;
}

@media screen and (min-width: 768px) {
  body .main .container .img__wrap img {
    min-width: 164px;
    height: auto;
    margin-top: 0;
    margin-right: 11px;
  }
  body .main .container .img__wrap img:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  body .main .container .img__wrap img {
    max-width: 255px;
    margin-right: 30px;
  }
  body .main .container .img__wrap img:last-child {
    margin: 0;
  }
}

body .main .container .img__wrap img:nth-child(1), body .main .container .img__wrap img:nth-child(2) {
  margin-top: 0;
}

body .main .container .info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

@media screen and (min-width: 600px) {
  body .main .container .info__wrap {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  body .main .container .info__wrap {
    margin-top: 80px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

body .main .container .info__wrap h3 {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  color: #4D96A9;
  text-transform: uppercase;
  text-align: center;
}

body .main .container .info__wrap h2 {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: #28283D;
}

@media screen and (min-width: 600px) {
  body .main .container .info__wrap h2 {
    margin-top: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  body .main .container .info__wrap h2 {
    padding: 0 47px;
  }
}

body .main .container .info__wrap p {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #87879D;
}

@media screen and (min-width: 1200px) {
  body .main .container .info__wrap p {
    font-size: 18px;
  }
}

body .footer .container {
  padding: 92px 24px 72px 24px;
  margin-top: 176px;
  background-color: #4D96A9;
  position: relative;
}

@media screen and (min-width: 600px) {
  body .footer .container {
    margin-top: 192px;
    padding: 92px 97px 66px 97px;
  }
}

@media screen and (min-width: 1200px) {
  body .footer .container {
    margin-top: 184px;
    padding: 116px 165px 104px 165px;
  }
}

body .footer .container .divider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -112px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

body .footer .container .divider__wrap .divider__line {
  width: 1px;
  height: 84px;
  display: block;
  background-color: #87879D;
  opacity: 25%;
}

body .footer .container .divider__wrap .divider__circle {
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

body .footer .container .divider__wrap .divider__circle .circle__span {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #87879D;
}

body .footer .container .info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  body .footer .container .info__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  body .footer .container .info__wrap {
    max-width: 1440px;
    margin: 0 auto;
  }
}

body .footer .container .info__wrap h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 600px) {
  body .footer .container .info__wrap h2 {
    font-size: 40px;
    font-weight: 44px;
  }
}

@media screen and (min-width: 1200px) {
  body .footer .container .info__wrap h2 {
    text-align: left;
    max-width: 350px;
  }
}

body .footer .container .info__wrap p {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #FAFAFA;
}

@media screen and (min-width: 600px) {
  body .footer .container .info__wrap p {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  body .footer .container .info__wrap p {
    margin-top: 0;
    text-align: left;
    max-width: 350px;
  }
}

body .footer .container .info__wrap .button_download {
  margin-top: 32px;
  padding: 16px 40px;
  border-radius: 29px;
  border: none;
  background-color: #855FB1;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
}

@media screen and (min-width: 600px) {
  body .footer .container .info__wrap .button_download {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  body .footer .container .info__wrap .button_download {
    margin-top: 0;
  }
}

body .footer .container .info__wrap .button_download:hover {
  cursor: pointer;
  background-color: #B18BDD;
}

body .footer .container .info__wrap .button_download span {
  margin-left: 4px;
  color: #D9B8FF;
}
/*# sourceMappingURL=style.css.map */